@CHARSET "ISO-8859-1";

/* Kaikkialla sama fonttityyli*/


#raamit {margin:15px auto;
		width: 976px;
		border:solid 2px rgb(51,51,51);
		padding:2px;
	}
		
#header {height:200px;
		background-color: red;}
		

#paavalikko {
			margin-right:150px;

}

#paavalikko li {float:right;
width:10em;
text-align:center;
list-style:none;
 border:solid 1px;
background-color: green				  }
				  
#paavalikko a {text-decoration:none;}



#sisältö  {margin-top: 150px;

width=650px;
	
}	



#pylvas {
	background-color: green;
		width: 160px;
		
		float: left;}
		
#pylvas {
	background-color: green;
		width: 160px;
		
		height:300px;}		

h2 {margin-left: 260px;}

#sisältö input {margin-left: 360px;}

#sisältö delete {width: 50px}

#sisältö p, #sisältö  format {font-style: serif;
color: black;
margin-left: 260px;
font-weight: bold}

#tiedot input, #tiedot p  {margin-left:500px;}



.numero {color: red}

#menusisalto h1 {margin-left: 200px}
#vasensarake {width: 600px}

#raja {border-bottom: solid;}

#pizzat {float:left;
margin-left: 200px}
#add {margin-left: 100px}


#nro {width: 40px
}
#pizzanimi {width: 300px;
font-weight: bold}

#vasensarake p {margin-left: 200px}
#ostoskori {float:right;
width: 300px}

#palkki  {width: 90px;
float:right;
}
